
<div class="d-flex flex-row">
  <div class="d-flex flex-grow-1 flex-wrap p-4 pt-5 k-overflow-hidden">
    <div class="d-flex card-deck dashboard flex-wrap pt-4">
      <div class="card flex-wrap mb-4">
        <div class="card-header">
          <h3>Welcome</h3>
          <p class="color-purple">Get started using Visual Studio Team Services to make the most of your team
            dashboard.</p>
        </div>
        <div class="card-body  p-3">
          <div class="card-icon-list d-flex">
            <div class="d-flex flex-column col-10 pl-0">
              <div class="d-flex flex-row mb-4">
                <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center col-2 "><span
                  class="oi oi-briefcase text-white align-self-center"></span>
                </div>
                <div class="col-10"><h6 class="mb-0 pb-0">Manage Work</h6>
                  <p class="color-purple">Add work to your board</p></div>
              </div>
              <div class="d-flex flex-row mb-4">
                <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center col-2 "><span
                  class="oi oi-people text-white align-self-center"></span>
                </div>
                <div class="col-10"><h6 class="mb-0 pb-0">Collaborate on Code</h6>
                  <p class="color-purple">Add work to your board</p></div>
              </div>
              <div class="d-flex flex-row mb-4">
                <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center col-2 "><span
                  class="oi oi-random text-white align-self-center"></span>
                </div>
                <div class="col-10"><h6 class="mb-0 pb-0">Continuously Integrate</h6>
                  <p class="color-purple">Add work to your board</p></div>
              </div>
              <div class="d-flex flex-row mb-4">
                <div class="rounded-circle bg-primary d-flex justify-content-center align-items-center  col-2 "><span
                  class="oi oi-pie-chart text-white align-self-center"></span>
                </div>
                <div class="col-10"><h6 class="mb-0 pb-0">Visualize Progress</h6>
                  <p class="color-purple">Add work to your board</p></div>
              </div>
            </div>

            <div class="steps vertical mb-5 mt-1">
              <div class="step"><a class="active"><span class="oi oi-check small"></span></a></div>
              <div class="step"><a></a></div>

              <div class="step"><a></a></div>

              <div class="step"><a></a></div>

            </div>

          </div>

        </div>
      </div>
      <div class="card flex-wrap mb-4">
        <div class="card-header border-0 d-flex">
          <h3 class="flex-grow-1">Tasks</h3>
          <a class="justify-content-end pt-1">
            <span class="oi oi-plus text-primary"></span></a>
        </div>
        <div class="card-body p-0 flex-column">
          <div class="d-flex flex-column pl-4 pr-4 pt-2 pb-2 border-bottom border-light">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h6 class="mb-0 pb-0">Service Page Redesign</h6>
                <p class="color-purple">High Priority</p>
              </div>
              <div class="text-secondary small pt-1 justify-content-end">
                <a><span class="oi oi-pencil"></span></a>
                <a class="pl-2"><span class="oi oi-trash"></span></a>
              </div>
            </div>
            <div class="d-flex mt-1 mb-1">
              <div class="flex-grow-1">
                <div class="rounded-circle float-left user-initials bg-primary">
                  <span class="small text-white font-weight-bold">JS</span>
                </div>
                <span class="pl-2 small"> John Smith</span>
              </div>
              <div class="justify-content-end text-secondary small">
                <span class="oi oi-clock pr-1"></span>
                <span>June 10 2018</span>
              </div>
            </div>

          </div>
          <div class="d-flex flex-column pl-4 pr-4 pt-2 pb-2 border-bottom border-light">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h6 class="mb-0 pb-0">Service Page Redesign</h6>
                <p class="color-purple">High Priority</p>
              </div>
              <div class="text-secondary small pt-1 justify-content-end">
                <a><span class="oi oi-pencil"></span></a>
                <a class="pl-2"><span class="oi oi-trash"></span></a>
              </div>
            </div>
            <div class="d-flex mt-1 mb-1">
              <div class="flex-grow-1">
                <div class="rounded-circle float-left user-initials bg-gold">
                  <span class="small text-white font-weight-bold">JS</span>
                </div>
                <span class="pl-2 small"> John Smith</span>
              </div>
              <div class="justify-content-end small text-secondary">
                <span class="oi oi-clock pr-1"></span>
                <span>June 10 2018</span>
              </div>
            </div>

          </div>
          <div class="d-flex flex-column pl-4 pr-4 pt-2 pb-2">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h6 class="mb-0 pb-0">Service Page Redesign</h6>
                <p class="color-purple">High Priority</p>
              </div>
              <div class="text-secondary small pt-1 justify-content-end">
                <a><span class="oi oi-pencil"></span></a>
                <a class="pl-2"><span class="oi oi-trash"></span></a>
              </div>
            </div>
            <div class="d-flex mt-1 mb-1">
              <div class="flex-grow-1">
                <div class="rounded-circle float-left user-initials bg-green">
                  <span class="small text-white font-weight-bold">JS</span>
                </div>
                <span class="pl-2 small"> John Smith</span>
              </div>
              <div class="justify-content-end small text-secondary">
                <span class="oi oi-clock  pr-1"></span>
                <span>June 10 2018</span>
              </div>
            </div>

          </div>
          <div class="card-footer border-0 pb-2">
            <div class="d-flex small justify-content-end">
              <a>
                <span class="text-primary">View all</span>
                <span class="oi oi-chevron-right text-primary pt-1 pl-2"></span></a>
            </div>
          </div>
        </div>

      </div>
      <div class="card flex-wrap mb-4">
        <div class="card-header border-0 d-flex">
          <h3 class="flex-grow-1"> Messages <span class="badge badge-pill badge-light">123</span></h3>
          <a class="justify-content-end pt-1">
            <span class="oi oi-pencil text-primary"></span></a>
        </div>
        <div class="card-body p-0">
          <div class="d-flex flex-column flex-wrap">
            <div class="d-flex border-bottom border-light pt-2 pb-2 pl-4 pr-2">
              <div class="col-2 p-0 d-inline-flex align-items-center team">
                <div class="team-member">
                  <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive align-self-center rounded-circle"/>


                </div>

              </div>
              <div class="col-10">
                <h6 class="mb-0 p-0">Lorem ipsum dolor sit</h6>
                <p class="color-purple">Amet, consectetur adispiscing elit, adipiscing elit consectetuer.</p>
                <div class="small d-flex justify-content-between">
                  <div class="pr-1">
                  <span class="font-weight-bold">From</span> <span class="color-purple pl-1">Jane Doe</span>
                  </div>
                  <span class="float-right color-purple">June 18, 09.10 AM</span>
                </div>
              </div>
            </div>
            <div class="d-flex border-bottom border-light pt-2 pb-2 pl-4 pr-2">
              <div class="col-2 p-0 d-inline-flex align-items-center team">
                <div class="team-member">
                  <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive align-self-center rounded-circle"/>


                </div>

              </div>
              <div class="col-10">
                <h6 class="mb-0 p-0">Lorem ipsum dolor sit</h6>
                <p class="color-purple">Amet, consectetur adispiscing elit, adipiscing elit consectetuer.</p>
                <div class="small d-flex justify-content-between">
                  <div class="pr-1">
                    <span class="font-weight-bold">From</span> <span class="color-purple pl-1">Jane Doe</span>
                  </div>
                  <span class="float-right color-purple">June 18, 09.10 AM</span>
                </div>
              </div>
            </div>
            <div class="d-flex border-bottom border-light pt-2 pb-2 pl-4 pr-2">
              <div class="col-2 p-0 d-inline-flex align-items-center team">
                <div class="team-member">
                  <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive align-self-center rounded-circle"/>


                </div>

              </div>
              <div class="col-10">
                <h6 class="mb-0 p-0">Lorem ipsum dolor sit</h6>
                <p class="color-purple">Amet, consectetur adispiscing elit, adipiscing elit consectetuer.</p>
                <div class="small d-flex justify-content-between">
                  <div class="pr-1">
                    <span class="font-weight-bold">From</span> <span class="color-purple pl-1">Jane Doe</span>
                  </div>
                  <span class="float-right color-purple">June 18, 09.10 AM</span>
                </div>
              </div>
            </div>
            <div class="d-flex border-bottom border-light pt-2 pb-2 pl-4 pr-2">
              <div class="col-2 p-0 d-inline-flex align-items-center team">
                <div class="team-member">
                  <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive align-self-center rounded-circle"/>


                </div>

              </div>
              <div class="col-10">
                <h6 class="mb-0 p-0">Lorem ipsum dolor sit</h6>
                <p class="color-purple">Amet, consectetur adispiscing elit, adipiscing elit consectetuer.</p>
                <div class="small d-flex justify-content-between">
                  <div class="pr-1">
                    <span class="font-weight-bold">From</span> <span class="color-purple pl-1">Jane Doe</span>
                  </div>
                  <span class="float-right color-purple">June 18, 09.10 AM</span>
                </div>
              </div>
            </div>
            <div class="d-flex border-bottom border-light pt-2 pb-2 pl-4 pr-2">
              <div class="col-2 p-0 d-inline-flex align-items-center team">
                <div class="team-member">
                  <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive align-self-center rounded-circle"/>


                </div>

              </div>
              <div class="col-10">
                <h6 class="mb-0 p-0">Lorem ipsum dolor sit</h6>
                <p class="color-purple">Amet, consectetur adispiscing elit, adipiscing elit consectetuer.</p>
                <div class="small d-flex justify-content-between">
                  <div class="pr-1">
                    <span class="font-weight-bold">From</span> <span class="color-purple pl-1">Jane Doe</span>
                  </div>
                  <span class="float-right color-purple">June 18, 09.10 AM</span>
                </div>
              </div>
            </div>

          </div>


        </div>
        <div class="card-footer border-0 pb-2">
          <div class="d-flex small justify-content-end">
            <a>
              <span class="text-primary">View all</span>
              <span class="oi oi-chevron-right text-primary pt-1 pl-2"></span></a>
          </div>
        </div>
      </div>
      <div class="card flex-wrap mb-4">
        <div class="card-header border-0">
          <h3>Visual Studio</h3>
        </div>
        <div class="card-body pt-0 d-flex flex-column">
          <div class="d-flex flex-row pb-3">
            <div class="rounded-circle visual-studio col-2">
              <img src="../../../../../assets/images/VisualStudio.png" class="img-responsive"/>

            </div>
            <div class="col-10">
              <h6 class="mb-0 pb-0">Open in Visual Studio</h6>
              <p class="color-purple">Requires Visual Studio 2013</p>

            </div>
          </div>
          <div class="d-flex flex-row pb-3">
            <div class="rounded-circle visual-studio bg-dark col-2">
              <img src="../../../../../assets/images/VisualStudio.png" class="img-responsive"/>

            </div>
            <div class="col-10">
              <h6 class="mb-0 pb-0">Get Visual Studio</h6>
              <p class="color-purple">See Visual Studio Downloads</p>

            </div>
          </div>
        </div>
      </div>
      <div class="card flex-wrap mb-4">
        <div class="card-header border-0">
          <h3>New Work Item</h3>
        </div>
        <div class="card-body pt-0">
          <div class="mb-2">
            <p class="color-purple">Title</p>
            <kendo-combobox [data]="dropDown_listItems" [value]="'Basketball'">
            </kendo-combobox>

          </div>
          <div class="mb-2">
            <p class="color-purple">Title </p>
            <div class="d-flex flex-row flex-wrap justify-content-end ">
              <div class="overflow-hidden flex-grow-1">
                <kendo-textbox-container class="m-0 ">
                  <input kendoTextBox placeholder="Lorem Ipsum" />
                </kendo-textbox-container></div>
              <div class="ml-3">
                <button class="btn btn-sm btn-primary mt-sm-2 m-0" >Submit</button></div></div>
          </div>

        </div>

      </div>
      <div class="card flex-wrap mb-4">
        <div class="card-header border-0 d-flex">
          <h3 class="flex-grow-1">Team Members</h3>
          <a class="justify-content-end pt-1">
            <span class="oi oi-plus text-primary"></span></a>
        </div>
        <div class="card-body pt-1 d-flex flex-wrap flex-row overflow-hidden">
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive  rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>
          <div class="team-member col-3 pb-2">
            <img src="../../../../../assets/images/Usersample.jpg" class="img-responsive rounded-circle"/>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-sidebar flex-grow-0 flex-shrink-0 flex-column sidebar-shadow">
    <div class="p-4">
      <h1>Add Widget</h1>
      <h6 class="color-purple">Drag and drop to place items</h6></div>
    <div class="d-flex flex-column">
      <div class="p-3 d-flex flex-row border-bottom border-light">
        <div class="pl-2 pr-2"> <div class="app-icon box-shadow bg-gold"><span class="oi oi-timer"></span></div></div>
        <div class="pl-2 pr-2"><h5>Application Name</h5></div>
      </div>
      <div class="p-3 d-flex flex-row border-bottom border-light">
        <div class="pl-2 pr-2"> <div class="app-icon box-shadow bg-blue"><span class="oi oi-timer"></span></div></div>
        <div class="pl-2 pr-2"><h5>Application Name</h5></div>
      </div>

      <div class="p-3 d-flex flex-row border-bottom border-light">
        <div class="pl-2 pr-2"> <div class="app-icon box-shadow bg-pink"><span class="oi oi-timer"></span></div></div>
        <div class="pl-2 pr-2"><h5>Application Name</h5></div>
      </div>

      <div class="p-3 d-flex flex-row border-bottom border-light">
        <div class="pl-2 pr-2"> <div class="app-icon box-shadow bg-green"><span class="oi oi-timer"></span></div></div>
        <div class="pl-2 pr-2"><h5>Application Name</h5></div>
      </div>

      <div class="p-3 d-flex flex-row border-bottom border-light">
        <div class="pl-2 pr-2"> <div class="app-icon box-shadow bg-dark"><span class="oi oi-timer"></span></div></div>
        <div class="pl-2 pr-2"><h5>Application Name</h5></div>
      </div>
    </div>
  </div>
</div>
