$base-theme:Default;
$skin-name:kendo-theme-blue;
$accent: #3e80ed;
$info: #3e80ed;
$success: #5ec232;
$warning: #fdce3e;
$error: #e73dae;
$text-color: #2f2e2e;
$bg-color: #edf1fb;
$base-text: #2f2e2e;
$base-bg: #edf1fb;
$hovered-text: #2f2e2e;
$hovered-bg: #edf1fb;
$selected-text: #2f2e2e;
$selected-bg: #3e80ed;
$series-a: #ff6358;
$series-b: #ffd246;
$series-c: #78d237;
$series-d: #28b4c8;
$series-e: #2d73f5;
$series-f: #aa46be;
