<div class="d-flex">
  <div class="d-flex flex-sidebar flex-shrink-0 flex-grow-0 border-right">
    <div class="d-flex flex-column flex-grow-1">
      <kendo-panelbar>
        <kendo-panelbar-item title="Invasion Games">
          <kendo-panelbar-item title="Hockey" class="k-state-active"></kendo-panelbar-item>
          <kendo-panelbar-item title="Soccer" class="has-child">
            <kendo-panelbar-item title="WorldCup"></kendo-panelbar-item>
          </kendo-panelbar-item>
          <kendo-panelbar-item title="Rugby"></kendo-panelbar-item>
          <kendo-panelbar-item title="Basketball"></kendo-panelbar-item>
          <kendo-panelbar-item title="Water polo"></kendo-panelbar-item>
          <kendo-panelbar-item title="Netball"></kendo-panelbar-item>
        </kendo-panelbar-item>
        <kendo-panelbar-item title="Striking & Fielding Games">
          <kendo-panelbar-item title="Cricket" class="bullet-point" >

          </kendo-panelbar-item>
          <kendo-panelbar-item title="Softball" class="bullet-point"></kendo-panelbar-item>
          <kendo-panelbar-item title="Baseball" class="bullet-point"></kendo-panelbar-item>
        </kendo-panelbar-item>
        <kendo-panelbar-item title="Net & Court Games" [expanded]="true">
          <kendo-panelbar-item title="Badminton"></kendo-panelbar-item>
          <kendo-panelbar-item title="Squash"></kendo-panelbar-item>
          <kendo-panelbar-item title="Tennis" [selected]="true"></kendo-panelbar-item>
          <kendo-panelbar-item title="Table Tennis"></kendo-panelbar-item>
          <kendo-panelbar-item title="Volleyball"></kendo-panelbar-item>
        </kendo-panelbar-item>
        <kendo-panelbar-item title="Target Games">
          <kendo-panelbar-item title="Golf"></kendo-panelbar-item>
          <kendo-panelbar-item title="Lawn bowls"></kendo-panelbar-item>
          <kendo-panelbar-item title="Tenpin bowling"></kendo-panelbar-item>
        </kendo-panelbar-item>
      </kendo-panelbar>
    </div>
  </div>

  <div class="d-flex flex-grow-1 flex-column">
    <div class="content-header d-flex border-bottom border-gray">
      <button kendoButton class="btn-white" (click)="onButtonClick()">Lorem Ipsum</button>
      <button kendoButton class="btn-white" (click)="onButtonClick()">Lorem Ipsum dolor sit amet</button>
    </div>
    <div class="pt-3 pb-3">
      <div class=" d-flex flex-row border-bottom border-gray">


        <div class="flex-grow-1 pl-4 pr-4">
          <p>Showing results for</p>
          <h1 class="color-purple">Lorem Ipsum Dolor Sit - Grid V2</h1></div>
        <div class="d-flex flex-row flex-wrap pr-5">
          <div class="ml-3 mr-3"><p>Sort</p>
            <kendo-combobox [data]="dropDown_listItems" [value]="'Basketball'" class="input-filter">
            </kendo-combobox>
          </div>
          <div class="ml-3 mr-3"><p>Items per page</p>
            <kendo-combobox [data]="dropDown_listItems" [value]="'Basketball'" class="input-filter">
            </kendo-combobox>
          </div>
          <div class="d-flex flex-column  ml-2">
            <p class="">View</p>
            <div class="flex-grow-1">
              <div class="view-icon  float-left mr-1">
                <span class="oi oi-menu"></span>
              </div>
              <div class="view-icon float-left active ml-1">
                <span class="oi oi-grid-two-up"></span>
              </div></div>
          </div>
        </div>
      </div>
      <div class="d-flex p-4">
        <div class="ml-3 mr-3 align-self-center">
          <input type="checkbox" id="c1" class="k-checkbox" />
          <label class="k-checkbox-label" for="c1">View Detailed Results</label><br/>
        </div>
        <div class="ml-4 mr-4 align-self-center">
          <input type="checkbox" id="c2" class="k-checkbox" />
          <label class="k-checkbox-label" for="c2">Order direct containers to receive bulk discount</label><br/>
        </div>
      </div>

    </div>
    <div class="d-flex flex-column ml-3 mr-3">
      <div class="d-flex flex-row flex-wrap mt-3 mb-3 ">
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
<div class="border-bottom border-light p-3">

  <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
  <p class="color-purple">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
</div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
            <div class="border-bottom border-light p-3">

              <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
              <p class="color-purple">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
            <div class="border-bottom border-light p-3">

              <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
              <p class="color-purple">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
            <div class="border-bottom border-light p-3">

              <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
              <p class="color-purple">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
            <div class="border-bottom border-light p-3">

              <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
              <p class="color-purple">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
            <div class="border-bottom border-light p-3">

              <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
              <p class="color-purple">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
            <div class="border-bottom border-light p-3">

              <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
              <p class="color-purple">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
        <div class="col-3 pb-4"><div class="card p-0">
          <div class="card-body p-0 d-flex flex-column ">
            <div class="d-flex justify-content-center grid-vertical"><span class="k-icon k-i-photo-camera text-primary grid-photo align-self-center"></span></div>
            <div class="border-bottom border-light p-3">

              <h4 class="font-weight-bold">Lorem ipsum dolor sit amet</h4>
              <p class="color-purple">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="p-3 pb-0" ><div class="d-flex flex-column">
              <p class="p-0">Price</p>
              <div class="price">
                <p class="p-0">$24,725</p><span class="currency pl-1">CAD</span>
              </div>
              <div class="price price-small color-green">
                <p class="color-green">$24,725</p><span class="currency ml-1">CAD</span><span class="oi oi-lock-locked ml-1 align-self-center"></span>
              </div>
            </div></div>

            <div><button kendoButton class="btn-primary mt-3 btn-grid" (click)="onButtonClick()" [primary]="true">Add to Cart</button></div>
          </div>

        </div> </div>
      </div>




    </div>
    <div class="d-flex flex-row justify-content-center pt-5 pb-5">
      <div class="align-self-center"><h3>PAGE</h3></div>
      <div class="align-self-center">
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item page-prev"> <a class="page-link" href="#"><span class="oi oi-chevron-left text-primary small"></span> </a> </li>
            <li class="page-item page-next"> <a class="page-link" href="#"><span class="oi oi-chevron-right text-primary small"></span> </a> </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>
</div>
